{% extends "layout.html" %}
{% block body %}
        <table class="table table-striped-columns table-hover">
            <tr class="table-dark">
                {% for header in headers %}
                <th>{{ header }}</th>
                {% endfor %}
            </tr>
            {% for shipment in data %}
            <tr>
                {% for i in range(1, shipment|length) %}
                {% if i == 1: %}
                <td><a href="/shipment/{{ shipment[0] }}"">{{ shipment[1] }}</a></td> 
                {% else: %}
                <td>{{ shipment[i] }}</td> 
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
{% endblock %}